
/* Aplicando estilos do Bulma nos elementos Markdown */
.content h1 {
    @extend .title;
    @extend .is-1;
}

.content h2 {
    @extend .title;
    @extend .is-2;
}

.content h3 {
    @extend .title;
    @extend .is-3;
}

.content h4 {
    @extend .title;
    @extend .is-4;
}

.content h5 {
    @extend .title;
    @extend .is-5;
}

.content h6 {
    @extend .title;
    @extend .is-6;
}

/* Estilizar parágrafos */
.content p {
    @extend .has-text-justified;
    margin-bottom: 1rem;
}

/* Estilizar tabelas */
.content table {
    @extend .table;
    @extend .is-striped;
    @extend .is-bordered;
    width: 100%;
}

.content th {
    @extend .has-text-weight-bold;
}

.content td {
    @extend .has-text-centered;
}

/* Listas */
.content ul {
    @extend .is-disc;
}

.content ol {
    @extend .is-decimal;
}

/* Códigos */
.content pre {
    @extend .box;
    background-color: #f5f5f5;
}

.content code {
    @extend .tag;
    background-color: #f0f0f0;
}
body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        /* Cabeçalho fixo */
        .header, .footer {
            position: relative ;
            width: 100%;
            text-align: center;           
            padding: 10px 0;
        }

        .header {
            top: 0;
        }

        .footer {
            bottom: 0;
        }

        /* Ajustar a área de conteúdo para não sobrepor o cabeçalho e rodapé */
        .content {
            margin-top: 100px; /* Altura do cabeçalho */
            margin-bottom: 80px; /* Altura do rodapé */
            padding: 20px;
        }

        /* Estilos para impressão */
        @media print {
          @page {
                size: A4;
                margin: 2cm 2cm 2cm 2cm; /* Margens para o cabeçalho e rodapé */
            }

            /* Criando um cabeçalho e rodapé que se repetem a cada página */
            .header, .footer {
                position: relative;               
                text-align: center;
                background-color: #f5f5f5;
                padding: 10px 0;
                display: table;
                width: 100%;
            }

            .header {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                height: 2.5cm;
            }

            .footer {
               position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                height: 2.5cm;
            }

            /* Ajuste para o conteúdo não sobrepor o cabeçalho e rodapé */
            .content {
                position: relative;
                margin-top: 4cm;
                margin-bottom: 4cm;
                page-break-after: auto;
                page-break-before: auto;
            }

            /* Evitar que tabelas e pre quebrem no meio */
            table, pre {
                page-break-inside: avoid;
            }
        }

